@import "../../scss/mixins";

.page_empty {
    @include flex-column-elem; 
    align-items: center;
    gap: 20px;
    @include center-block;
}

.home_wrapper {
  position: relative;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 120px;
    flex-wrap: wrap;
    
    .title {
        display: block;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 8px;
        color: $color-primary;
    }

    
    .list_activities{
        @include flex-column-elem;
        gap: 18px;
        flex-grow: 1;
        padding: 0 40px;
    }

    .top_activity {
        flex-grow: 1;
        
        .wrapper_second {
            @include flex-column-elem;
            align-items: center;
            width: 720px;
            padding: 60px 20px;
            height: 420px;
            background-color: $bg-primary;
            border-radius: 8px;
            box-shadow: $shadow-wrapper;

            & > img {
                margin-top: auto;
            }

            .minutes {
                color: $color-primary;
            }
        }
      
        .today {
            color: black;
        }


    }
}