@function getFontSize ($multiplier: 1){
  @return #{$multiplier * 16}px
}

:root {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --color-primary: #7f27ff;
  --color-hover: #f5eeff;
  --bg-primary: #ffffff;
  --bg-secondary: #f4f3f3;
  --bg-input: #f0f3ff;
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
} 

body {
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 500;

  &.active {
    color: var(--color-primary);
  }
}

.container {
  width: 1440px;
  margin: 0 auto;
  height: 100%;
}

h1 {
  font-size: getFontSize(4);
}

h2 {
  font-size: getFontSize(3);
}

h3 {
  font-size: getFontSize(2);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}

.error {
  text-align: center;
  color: red;
}