@import "../../scss/mixins";

.wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: var(--bg-primary);
  border-radius: 8px;
  box-shadow: var(--shadow-wrapper);
  padding: 30px 10px;

  .title {
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 40px;
  }

  .doughnut {
    width: 600px;
    margin: 0 auto;
  }

  &:has(.text) {
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    height: 100%;
    padding: 0;
  }
}

.text {
  @include center-block;
  width: max-content;
  color: var(--color-primary);
}
