@use "@/scss/variables" as *;
@import "../../scss/mixins";

.wrapper {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: $bg-primary;
  border-radius: 8px;
  box-shadow: $shadow-wrapper;
  padding: 30px 10px;

  &:has(.text) {
    background-color: inherit;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    height: 100%;
    padding: 0;
  }
}

