@import "../../../../scss/mixins";

.wrapper {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .time {
    @include flex-column-elem;
    align-items: flex-start;
    margin-left: auto;
    padding-right: 50px;
  }
  
}
